<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- The Pexip.Pulse .nupkg that ships in this repo under sdk/windows. -->
    <add key="local-pulse" value="../../sdk/windows" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
